@import "./layout/layout.css";

@import url('./dashboard/index.css');


body {
    margin: 0px;
    height: 2000px;
    background-color: #e6e8ee;
}


#main {
    width: 85%;
    height: 100%;
    margin-left: auto;
    padding-top: 58px;
}


.dark-theme{
    background-color: black;
    color: white;
}
